*{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: 'Bebas Neue';
	src: url(../fonts/BebasNeue-Regular.ttf);
	font-style: normal;
}
@font-face{
	font-family: 'HomepageBaukasten-Bold';
	src: url(../fonts/HomepageBaukasten-Bold.ttf);
	font-style: normal;
}
@font-face{
	font-family: 'Quicksand-Light';
	src:url(../fonts/Quicksand-Light.otf);
	font-style: normal;
}
@font-face{
	font-family: 'Kiona-Regular';
	src:url(../fonts/Kiona-Regular.ttf);
	font-style: normal;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------
BODY
*/
html body{
background-color: #fff;
}
.header{
	background-color: #0000/*#fffafa*/;
}
.navbar{

	margin: 0px 10px;
	padding: 8px 10px;
}
.brand a.social-top{
   color: #000;
   font-size: 30px;
}
.brand {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 0;
  width: 40%;
}
.brand-head-d{
	display: inline-block;
}
.brand-head-d h6{
font-size: 15px;
color: #6ecd0c;	
}
.brand-head{

  display: inline-block;
  margin-left: 10px;
padding: 5px;
}
span.brand-head h4{
color: #49abe4;
}
span.brand-head h6{
font-size: 15px;
color: #6ecd0c;
}
.brand a {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  text-decoration: none;
  margin: 0;
}
.brand a img{
	height: 20%;
	width: 20%;
}
.checkbtn{
	font-size: 20px;
	color: #000;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
.checkbtn i.cross{
display: none;
}
#check{
	float: right;
display: none;
}
nav ul{
	 width: 60%;
     float: right;
	margin-right: 0px;
	display: inline-block;
	z-index: 1;
 
}
nav ul li{
	font-family: Kiona-Regular;
	display: inline-block;
	line-height: 80px;
	margin: 0 10px;
}
nav ul li a.active{
	color: #fff;
	background: #000;
}
nav ul li a{
	color: #000;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	padding: 7px 13px;
	border-radius: 3px;
}
nav ul li ul{
	display: none;
	position: absolute;
	border-radius: 8px;
	background: #ffffff;
	box-shadow: 0 2px 4px 0 #0003;
	width: auto;
}
nav ul li.down:hover ul:not(.downul){
	display: block;
}
nav ul li ul li{
	display: block;
	font-size: 5px;
	line-height: 30px;	
}
nav ul li ul li a{
	padding: 3px 6px;
	font-size: 15px;
	color: #000;
	text-align: center;
}
nav ul li ul li ul{
	background: #ffffff;
	display: none;
	position: absolute;
	border-radius: 8px;
	margin-left: 20%;
}
nav ul li ul li ul li a{
		font-size:14px;
		display: block;
}
nav ul li ul li.down1:hover ul{
	display: block;
}

li.down ul li:hover{
		background: #000;
		text-decoration-color: #ffffff;
	transition: 0.5s;
		
}
li.down ul li:hover  a.w{
	color: #ffffff;
	transition: 0.5s;
	text-decoration: none;
}

li.down ul li ul.downul li a:hover{
	color: #ffffff;
	text-decoration: none;
}
nav ul li a.h:hover:not(.notheme){
	background: #000;
	color: #fff;
	transition: 0.5s;
	text-decoration: none;
}
nav ul li a.h:hover{
	color: inherit;
	transition: 0.5s;
	text-decoration: none;
}

nav ul button.call{
	background: #61ce70;
	color: #ffffff;
	padding: 12px;
	border: 1px solid #61ce70;
	border-radius: 100px;
	box-shadow: 2px #57b846;
}
nav ul button.call:hover{
	color: #000000;
	background: #17b978;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

/* MEDIA*/
@media (min-width: 1024px){
	main section div.callbtn{
	display: none;
}
span.brand-head h4{
color: #49abe4;
display: none;
}
}
@media (max-width: 1024px){
.brand {
  width: 30%;
}
.brand a img{
	height: 70%;
	width: 70%;
}
.brand-head-d{
	display: none;
}
	nav ul{	
	 width: 80%; 
	 margin: 0;
}
nav ul li{
	margin: 0 8px;
}
nav ul button.call{
	display: none;
}
}
@media (max-width: 770px){
.checkbtn{
  display: block;
}
nav ul{
	position: absolute;
	width: 100%;
	height: auto;
	background: #ffffff;
	top: 102%;
	left: -100%;
	text-align: center;
	transition: all 0.5s;
	box-shadow: 0 2px 4px 0 #0003;

}
nav ul li{
display: none;
}
nav ul li ul{
	position: relative;
	background: #ffffff;
	width: 100%;
	left:50%;
	transform: translateX(-50%);
	text-align: center;
	transition: all 0.5s;
	box-shadow: 0 2px 4px 0 #0003;
}
nav ul li ul li a{
	color: #000;
}
nav ul li ul li ul{
	background: #ffffff;
	width: 90%;
	box-shadow:none;
	position: relative;
}
#check:checked ~ ul{
	left: 0px;
}
#check:checked ~ ul li{
	display: block;
	
}
#check:checked ~ .checkbtn i.bar{
	transition: 0.5s;
display: none;
}
#check:checked ~ .checkbtn i.cross{
	transition: 0.5s;
display: block;
}
}
@media (max-width: 414px){
	.brand {
  width: 40%;
}
}
/*---------------------------------------------------------------------------------------------------------------------------------*/

/* MAIN*/
main section div.callbtn button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background: #61ce70;
	color: #ffffff;
	margin: 5px;
	padding: 10px;
	border: 1px solid #61ce70;
	border-radius: 100px;
	box-shadow: 2px #57b846;
}
main section div.callbtn button:hover{
	color: #000000;
	background: #17b978;
}


/*----------------------------------------------------------------------------------------------*/

/*carousel */
main section div.carouseldiv{
	margin: 0px;
	padding: 0px;
}

div.carousel-item img{
	background: rgba(0,0,0,0.5);
	opacity: 80%;
}
div.carousel-inner span.b{
	align-items: center;
	position: absolute;
	height: auto;
	top: 50%;
	left: 50%;
	width: 80%;
	color: #ffffff;
	transform: translate(-50%,-50%);
	display: block;
	margin-right: auto;
	margin-left: auto;
}
div.carousel-inner span.b h1{
	text-align: center;
	font-size: 100px;
	font-family: 'Bebas Neue';
}
div.carousel-inner span.b h5{
	text-align: center;
}
div.carousel-inner span.b button{
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background: #000;
	color: #ffffff;
	padding: 12px;
	border: 1px solid #ffffff;
	box-shadow: 2px #57b846;
	transition: 0.5s;
}
div.carousel-inner span.b button:hover{
	color: #000000;
	background: #ffffff;
	border: 1px solid #000000;
	transition: 0.5s;
}
/*----------------------------------------------------------------------------------------------*/

/*search*/
main section.sec-search{
	height: auto;
} 
.search-box{
	position: relative;
	margin: 40px;
	padding: 20px;
	background: #2f3640;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
}
.search-btn{
	position: relative;
	color: #e84118;
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: #2f3640;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-txt{
	border: none;
	background: none;
	outline: none;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	width: 80%;
}	
.search-box:hover > .search-btn{
   background: white;
   transition: 0.4s;
}
.search-box:hover{
	color: #2a6cbb;
	box-shadow: 0 0 10px #2867B2;
}

.search-btn:hover{
	color: #e84118;
	box-shadow: 0 0 10px #e84118;
}

.search-btn:before{
	position: absolute;
	content: '';
	border:2px solid #e84118;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: ripple 2s linear infinite;
}

.search-btn:after{
	position: absolute;
	content: '';
	border:2px solid #e84118;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: ripple 2s 1s linear infinite;
}
@keyframes ripple{
	100%{
		transform: scale(2);
		opacity: 0;
	}
}
	
/*----------------------------------------------------------------------------------------------*/

/*section products*/
main section section.sec-products{
		height: auto;
}
section.sec-products div.h-products{
	margin-top: 10px;
	padding: 5px;
	display: block;
}
section.sec-products div.h-products h2{
	text-align: center;
	color: #49abe4;
	letter-spacing: 8px;
	font-family: 'HomepageBaukasten-Bold';
}
section.sec-products div.h-products h4{
	text-align: center;
}
section.sec-products div.h-products h1{
	text-align: center;
	color: #6ecd0c;
	font-size: 60px;
	font-weight: 1000;
}
section.sec-products div.img-gallery{
	align-items: center;
	height: auto;
}
section.sec-products div.img-gallery div.img-products{
	position: relative;
	height: auto;
	width: 23%;
	margin: 10px;
	padding: 5px;
	display: inline-flex;
}

section.sec-products div.img-gallery div.img-products img{
		height: 100%;
	width: 100%;
	transition: 0.5s;

}
section.sec-products div.img-gallery div.img-products h4{
	background: #0002;
	color: #ffffff;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,-50%);

}
section.sec-products div.con-centre{
	width: 100%;
}
section.sec-products div.con-centre img{
	height: 100%;
	width: 100%;
	transition: 0.5s;
}
section.sec-products div.con-centre button{
	text-align: center;
	margin-top: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background: #000;
	color: #ffffff;
	padding: 12px;
	border: 1px solid #ffffff;
	box-shadow: 2px #57b846;
	transition: 0.5s;
}
section.sec-products div.con-centre button:hover{
	color: #000000;
	background: #ffffff;
	border: 1px solid #000000;
	transition: 0.5s;
}

/*----------------------------------------------------------------------------------------------*/

/*section about*/
main section section.sec-about{
		height: auto;
}
section.sec-about div.about{
	margin-top: 10px;
	padding: 5px;
	width: 55%;
	display: inline-block;
}
section.sec-about div.about h1{
	text-align: left;
	padding: 10px;
	text-decoration: underline;
}
section.sec-about div.about p{
	text-align: left;
	padding: 10px;
}
section.sec-about div.about button{
	color: #ffffff;
	background: #61ce70;
	text-align: center;
	margin: 10px;
	padding: 12px;
	border: none;
	outline: none;
	box-shadow: 2px #57b846;
	transition: 0.5s;
	padding: 10px;
}
section.sec-about div.about button:hover{
	color: #000000;
	background: #17b978;
}
section.sec-about div.about-img{
	margin-top: 10px;
	padding: 5px;
	width: 45%;
	float: right;
}
section.sec-about div.about-img img{
	width: 100%;
	height: 100%;
	padding: 12px;
	margin-top: 18%;
}
/*----------------------------------------------------------------------------------------------*/

/*section WHY*/
main section section.sec-why{
		height: auto;
}
main section section.sec-why div h2{
		color: #49abe4;
}
main section section.sec-why div ul{
	list-style-type: disc;
}
main section section.sec-why h1{
	text-align: center;
	font-weight: 1000;
}
section.sec-why div.why-img1{
	margin-top: 10px;
	padding: 5px;
	width: 45%;
	display: inline-block;
}
section.sec-why div.why-img1 img{
	width: 100%;
	height: 100%;
	padding: 12px;
}
section.sec-why div.why1{
	margin-top: 10px;
	padding: 5px;
	width: 55%;
	float: right;
	margin-top: 10%;
}
section.sec-why div.why2{
	padding: 5px;
	width: 45%;
	margin-top: 10%;
	float: left;
}
section.sec-why div.why-img2{
	padding: 5px;
	width: 55%;
	display: inline-block;
}
section.sec-why div.why-img2 img{
	width: 100%;
	height: 100%;
	padding: 12px;
}
section.sec-why div.why-img3{
	padding: 5px;
	width: 45%;
	display: inline-block;
}
section.sec-why div.why-img3 img{
	width: 100%;
	height: 100%;
	padding: 12px;
}
section.sec-why div.why3{
	padding: 5px;
	width: 55%;
	margin-top: 10%;
	float: right;
}

section.sec-why div.why-img4{
	padding: 5px;
	width: 55%;
	display: inline-block;
}
section.sec-why div.why-img4 img{
	width: 100%;
	height: 100%;
	padding: 12px;
}
section.sec-why div.why4{
	padding: 5px;
	width: 45%;
	margin-top: 10%;
	float: left;
}
/*----------------------------------------------------------------------------------------------*/

/*section CONTACT*/
main section section.sec-contact{
		height: auto;
}
section.sec-contact h1{
	text-align: center;
	font-weight: 1000;
}
section.sec-contact div.con{
	left: 4%;
	height: 70%;
	overflow: hidden;
}
section.sec-contact div.con form{
	position: relative;
	text-align: center;
	display: block;
	margin-top: 40px;
	justify-content: center;
}
.div{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.input{
  display: block;
  padding: 6px;
  width: 100%;
  background: #ffffff;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  transition: 0.5s;
  border: none;
  outline: none;
  border-bottom: 1px solid #0003;
}
.input:hover{
	box-shadow: 0 2px 4px 0 #0004;
  transition: 0.5s;
}
.message-box{
	height: 150px;
}
.form-btn{
  display: flex;
  justify-content: center;
}
.btn{
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
/*----------------------------------------------------------------------------------------------*/

/*section CONTACT*/
main section section.sec-visit{
		height: 30vh;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/

/* MEDIA*/
@media (max-width: 1220px){
	section.sec-products div.img-gallery div.img-products{
	width: 20%;
	display: inline-flex;
}
}
@media (min-width: 770px){
	main section div.carouseldiv div.carousel-item{
	height: 60vh;
}
main section.sec-search{
	height: auto;
	width: 70%;
	display: block;
	margin-right: auto;
	margin-left: auto;
} 
section.sec-contact div.con{
	width: 60%;
}
}
@media (max-width: 768px){
	section.sec-about div.about{
	width: 100%;
	display: block;
}
	section.sec-about div.about-img{
	width: 100%;
	display: block;
	float: none;
	margin-top: 0px;
}
section.sec-about div.about h1{
	padding: 8px;
	text-decoration: none;
}
section.sec-why div.why-img1{
	width: 100%;
	display: block;
}
section.sec-why div.why1{
	width: 100%;
	display: block;
	float: none;
	margin-top: 0px;
}
section.sec-why div.why-img2{
	width: 100%;
	display: block;
	margin-top: 0px;
}
section.sec-why div.why2{
	width: 100%;
	display: block;
	margin-top: 0px;
	float: none;
}
section.sec-why div.why3{
	width: 100%;
	margin-top: 0%;
	float: none;
}
section.sec-why div.why-img3{
	width: 100%;
	display: block;
}
section.sec-why div.why4{
	width: 100%;
	margin-top: 0%;
	float: none;
}
section.sec-why div.why-img4{
	width: 100%;
	display: block;
	margin-top: 0px;
}
}
@media (max-width: 760px){
	div.carousel-inner span.b h1{
	font-size: 80px;
}
div.carousel-inner span.b h5{
	font-size: 20px;
	
}
div.carousel-inner span.b button{
	padding: 9px;
}
	section.sec-products div.img-gallery div.img-products{
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
}


@media (max-width: 599px){
	div.carousel-inner span.b h1{
	font-size: 70px;
}
div.carousel-inner span.b h5{
	font-size: 16px;
	
}
div.carousel-inner span.b button{
	padding: 7px;
	font-size: 14px;
}
}

@media (max-width: 500px){
	div.carousel-inner span.b h1{
	font-size: 65px;
}
div.carousel-inner span.b h5{
	font-size: 14px;
	
}
div.carousel-inner span.b button{
	padding: 7px;
	font-size: 12px;
}
}


@media (max-width: 450px){
	div.carousel-inner span.b h1{
	font-size: 55px;
}
div.carousel-inner span.b h5{
	font-size: 14px;
	
}

section.sec-products div.h-products h2{
	letter-spacing: 6px;	
}
section.sec-products div.h-products h1{
	font-size: 50px;
	font-weight: 700;
}

section.sec-products div.con-centre button{
	font-size: 12px;
	padding: 9px;
}
}


@media (max-width: 400px){
	div.carousel-inner span.b h1{
	font-size: 45px;
}
div.carousel-inner span.b h5{
	font-size: 12px;
	
}
div.carousel-inner span.b button{
	padding: 5px;
	font-size: 10px;
}
}


@media (max-width: 360px){
	div.carousel-inner span.b h1{
	font-size: 40px;
}
div.carousel-inner span.b h5{
	font-size: 10px;
	
}
div.carousel-inner span.b button{
	padding: 5px;
	font-size: 8px;
}
section.sec-products div.h-products h4{
	font-size: 20px;
}
}

@media (max-width: 300px){
	div.carousel-inner span.b h1{
	font-size: 35px;
}
div.carousel-inner span.b h5{
	font-size: 8px;
	
}
div.carousel-inner span.b button{
	padding: 5px;
	font-size: 7px;
}


section.sec-products div.h-products h2{
	letter-spacing: 6px;	
}
section.sec-products div.h-products h4{
	font-size: 20px;
}
section.sec-products div.h-products h1{
	font-size: 40px;
	font-weight: 600;
}

}

/*---------------------------------------------------------------------------------------------------------------------------------*/

/* FOOTER */
/*
.footer {
  background-color: #f5f5f5;
}
*/
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

footer{
    position: relative;
	padding: 20px;
	text-decoration: none;
	font-family: Quicksand-Light;
	background: #000;
	color: #ffffff;
}
footer section{
}
footer div.copy{
	background: #474749;
	margin: 12px;
	padding: 15px;
	text-align: left;
}

footer div article h1{
	font-family: 'Bebas Neue';
	text-align: left;
}
footer div.con{
	margin: 10px;
	padding: 12px;
	width: 30%;
	display: inline-flex;
}
footer div.links{
	margin: 10px;
	padding: 12px;
	width: 30%;
	display: inline-flex;
}footer div.prod{
	margin: 10px;
	padding: 12px;
	width: 30%;
	display: inline-flex;
}
footer section div article ul{
	list-style: none;

	 text-align: center;
}
footer section div article ul li{
	text-align: left;
}
footer section div article ul li a{
	color: #fff;
}
footer section div article ul li a:hover{
	color: #3798da;
}










@media (max-width: 770px){
	footer div.con{
	width: 100%;
	display: block;
}
	footer div.links{
	width: 100%;
	display: block;
}	
	footer div.prod{
	width: 100%;
	display: block;
}
}